* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter {
    margin-top: 70px;
    color: #102B42;
    font-size: 90px;
    margin-bottom: 40px;

}

.number {
    color: black;
    font-size: 110px;


}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 40px;
    height: 48px;
    width: 170px;
    border-radius: 10px;
    margin-right: 30px;
    border: 3px solid black;
    font-size: 24px;
}